@use '../abstracts/index' as *;

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: color(color-light-dark);
  z-index: 60;
  opacity: 0.9;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 70;
  width: min(90%, 540px);
  border-radius: 8px;
  overflow: hidden;
  background-color: color(color-light);
  padding-bottom: 1.5rem;
  display: flex;
  flex-direction: column;

  @include tablet {
    padding-bottom: 3rem;
  }

  &--title {
    padding: 1.75rem 1.25rem;
    background-color: color(color-dark);
    align-self: stretch;

    @include tablet {
      padding: 3rem 3.5rem 2.5rem;
    }
  }

  &--order {
    padding: 3rem 1.5rem 0.5rem;

    @include tablet {
      padding: 3.5rem 3.5rem 0.5rem;
    }

    span {
      color: color(color-primary);
      text-transform: capitalize;
    }
  }

  &--para {
    padding: 0 1.5rem;
    margin-bottom: 1.5rem;
    @include tablet {
      padding: 0 3.5rem;
      margin-bottom: 2.5rem;
    }
  }

  .btn-mobile {
    @include tablet {
      display: none;
    }
  }

  & button {
    margin: 0 1.5rem;

    @include tablet {
      padding: 1rem 4rem;
      margin: 0;
    }
  }

  &--pricing {
    display: none;

    @include tablet {
      padding: 0 3.5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
