@use '../abstracts/index' as *;

.services__features--card {
  padding: 4.5rem 1.75rem 3.125rem;
  background-color: color(color-primary);
  border-radius: 8px;
  max-width: 290px;

  @include tablet {
    max-width: 575px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 0 3rem;

    align-items: center;
    padding: 2.5rem;
  }

  @include desktop {
    max-width: 350px;
    @include flex(center, center, 0);
    flex-direction: column;
  }

  &__title {
    margin: 3.5rem 0 1.5rem;

    @include tablet {
      margin: 1rem 0 1rem;
    }

    @include desktop {
      margin: 3.5rem 0 1.5rem;
    }
  }
  &__para {
    color: color(color-light-m);

    @include tablet {
      grid-column: 2 / 3;
    }
  }

  @include tablet {
    img {
      grid-row: 1 / 3;
      justify-self: center;
    }
  }
}
