@use '../abstracts/index' as *;

.steps--content__card {
  margin: 0 auto;
  max-width: 330px;

  .circle {
    //to appear on top of the ::before
    position: relative;
    z-index: 1;

    display: none;
    height: 31px;
    width: 31px;
    border-radius: 50%;
    background-color: color(color-light);
    border: 1px solid color(color-primary);
    margin-bottom: 3rem;

    @include tablet {
      display: block;
    }
  }

  @include tablet {
    //For the circle
    position: relative;

    &:not(:last-of-type)::before {
      @include before(
        calc((33px / 2)),
        calc((33px / 2)),
        calc(100% + 24px),
        2px,
        color-secondary
      );

      @include desktop {
        width: calc(100% + 48px);
      }
    }
  }

  &:not(:last-of-type) {
    margin-bottom: 3.5rem;
  }
}
