@use '../abstracts/index' as *;

.hidden {
  opacity: 0;
}

.lazy-img {
  filter: blur(20px);
}

.fade-in {
  animation: fadeIn 0.8s 0.5s ease-in-out backwards;
}

//Titles
.big-title {
  margin-bottom: 4.5rem;

  @include tablet {
    margin-bottom: 2.5rem;
  }
}

.small-title {
  margin: 1.5rem auto;
}

//colors
.lighter {
  color: color(color-light-op);
}

.darker {
  color: color(color-dark);
}

.card {
  transition: opacity 1.5s;
}

//Sections
.section {
  transition: transform 1s, opacity 1s;
  text-align: center;
}

.section.hidden {
  transform: translateY(5rem);
  opacity: 0;
}

//about - plan
.small__header {
  height: min(60vh, 530px);
}
//home
.big__header {
  height: calc(100vh - 120px);
}

//Steps - Location Section
.col-3-layout {
  @include tablet {
    text-align: left;
    max-width: 1045px;
    display: flex;
    gap: min(0.2rem + 2vw, 3rem);
  }

  @include desktop {
    gap: 3rem;
  }
}

//Plan
.subscribe--card__option.active {
  background-color: color(color-primary);

  h3 {
    color: color(color-light);
  }

  p {
    color: color(color-light-op);
  }
}

.disable {
  background-color: color(color-light-dark);
  cursor: not-allowed;

  &:hover,
  &:focus {
    background-color: color(color-light-dark);
    cursor: not-allowed;
    transform: scale(1);
  }
}

//close options
.subscribe--card__button.close {
  transform: rotate(0);
}

//Order
.colorize {
  color: color(color-primary);
}

//modal
.hide {
  visibility: hidden;
  opacity: 0;
}

.close {
  visibility: visible;
  opacity: 1;
}
