@use '../abstracts/index' as *;

.header {
  position: relative;

  &__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    text-align: center;
    padding: 0 1.5rem;
    max-width: 420px;

    @include tablet-small {
      text-align: left;
      align-items: flex-start;
      margin-left: 3.75rem;
    }

    @include desktop {
      max-width: 495px;
    }

    &--para {
      margin-bottom: 1rem;
      max-width: 440px;
    }
  }

  img {
    position: absolute;
    border-radius: 10px;
    z-index: -1;
    @include imgFillParent;
    @include tablet-small {
      object-position: 70% top;
    }
  }
}
